body {
  background-color: #101b10;
  font-family: 'iosevka', 'Open Sans', sans-serif;
  display: flex;
  
}

a {
  color: #50bd63;
  text-decoration: none;
}

.column {
  flex: 50%;
  text-align: center;
}


